In [1]:
liste_1 = [1, 2, 4, 5,35,84]
villes = ["Paris", "Berlin", "Londres", "Bruxelles"]
liste_2 = [liste_1, villes]  # liste de listes
liste3_=[]

In [2]:
tuple_1=(1,2,6,1,7)

In [3]:
prenom = "gloire"

In [ ]:
#Indexing
print(villes[0])
print(villes[1])
print(villes[-1]) #dernier element
print(villes[-2]) #avant dernier element

Paris
Berlin
Bruxelles
Londres

In [14]:
#slicing
print(villes[:3])
print(villes[2:])
print(villes[1:3])
print(villes[::2]) #elements d'indice pair
print(villes[::-1]) #inverse de la liste
print(prenom[::-1]) #inverse de la chaine de caractere
print(prenom[:3])

['Paris', 'Berlin', 'Londres']
['Londres', 'Bruxelles']
['Berlin', 'Londres']
['Paris', 'Londres']
['Bruxelles', 'Londres', 'Berlin', 'Paris']
eriolg
glo

In [16]:
villes[0] = "Marseille"
print(villes)

['Marseille', 'Berlin', 'Londres', 'Bruxelles']

In [17]:
villes.append("Dublin") 

print(villes)

['Marseille', 'Berlin', 'Londres', 'Bruxelles', 'Dublin']

In [18]:
villes.insert(2, "Madrid")
print(villes)

['Marseille', 'Berlin', 'Madrid', 'Londres', 'Bruxelles', 'Dublin']

In [19]:
villes_2 = ["Amsterdam", "Rome"]

villes.extend(villes_2)
print(villes)

['Marseille', 'Berlin', 'Madrid', 'Londres', 'Bruxelles', 'Dublin', 'Amsterdam', 'Rome']

In [20]:
print(len(villes))

8

In [21]:
villes.sort()

print(villes)

['Amsterdam', 'Berlin', 'Bruxelles', 'Dublin', 'Londres', 'Madrid', 'Marseille', 'Rome']

In [22]:
villes.sort(reverse=True)   
print(villes)

['Rome', 'Marseille', 'Madrid', 'Londres', 'Dublin', 'Bruxelles', 'Berlin', 'Amsterdam']

In [25]:
liste_2 = [52,51,23,61,3,2,78,24]
liste_2.sort()
print(liste_2)

[2, 3, 23, 24, 51, 52, 61, 78]

In [ ]:
print(villes.count("Londres")) #nombre d'occurrences de "Londres" dans la liste villes

1

In [28]:
if "Londres" in villes:
    print("Londres est dans la liste des villes")
else:
    print("Londres n'est pas dans la liste des villes")

Londres est dans la liste des villes

In [29]:
if "Paris" in villes:
    print("Paris est dans la liste des villes")
else:
    print("Paris n'est pas dans la liste des villes")

Paris n'est pas dans la liste des villes

In [30]:
for i in villes:
    print(i)

Rome
Marseille
Madrid
Londres
Dublin
Bruxelles
Berlin
Amsterdam

In [31]:
for index, valeur in enumerate(villes):
    print(index, valeur)

0 Rome
1 Marseille
2 Madrid
3 Londres
4 Dublin
5 Bruxelles
6 Berlin
7 Amsterdam

In [32]:
for a, b in zip(villes, liste_2):
    print(a, b)

Rome 2
Marseille 3
Madrid 23
Londres 24
Dublin 51
Bruxelles 52
Berlin 61
Amsterdam 78